<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <h3 class="display-6">Технологии, которые я использовал:</h3>
    <ul>
      <li class="mb-1">
         Backend написан на языке <span style="color:green">Python</span>
         с применением фреймворка <span style="color:green">Django</span>
      </li>
      <li class="mb-1">
        Frontend на языке разметки <span style="color:green">HTML/CSS</span>
        применением фреймворка <span style="color:green">Bootstrap</span>
      </li>
      <li class="mb-1">
        <span style="color:green">Git/GitHub</span>
        для удобной работы с онлайн-репозиториями и контроля версий кода
      </li>
      <li class="mb-1">
        Редактор кода <span style="color:green">IDE Visual Studio Code</span>
      </li>
    </ul>
{% endblock %}
